* {
	font-family: 'Roboto', sans-serif;
}
.Homepage {
	height: 100vh;
	text-align: center;
	display: grid;
	grid-template-columns: 1fr 1fr 2fr 3fr;
	grid-template-rows: 2fr 1fr 10fr 2fr;
	grid-template-areas: "header header header header" "nav nav nav nav" "chart chart main main" "footer footer footer footer";
}
header {
	border: 2px red solid;
	grid-area: header;
}
h1 {
	text-align: left;
	grid-area: header;
}
nav {
	border: 2px green solid;
	grid-area: nav;
}

.chart {
	border: 2px yellow solid;
	grid-area: chart;
}

.main {
	border: 2px lightcoral solid;
	grid-area: main;
}

footer {
	border: 2px navy solid;
	grid-area: footer;
}
